.wp-block-list:is(.is-style-wcbzh-menu, .is-style-wcbzh-menu-stack, .is-style-wcbzh-menu-row) { list-style: none; padding-left: 0; }

.wp-block-list:is(.is-style-wcbzh-menu, .is-style-wcbzh-menu-row) a:not(:hover, :focus) { text-decoration: none; }

.wp-block-list:is(.is-style-wcbzh-menu-stack, .is-style-wcbzh-menu-row) {
display: flex;
flex-wrap: wrap;
gap: 1em;
} 

.wp-block-list.has-wcbzh-gap-0:is(.is-style-wcbzh-menu-stack, .is-style-wcbzh-menu-row) {
gap: 0em;
} 

.wp-block-list:is(.is-style-wcbzh-menu-stack) {
flex-direction: column;
} 