@use "../../abstracts" as *;

.wp-block-navigation {
    @include breakpoint-min("md") {
        .has-child {
            .wp-block-navigation__submenu-container {
                border-radius: 2rem;
                overflow: hidden;
                box-shadow: wp-preset-shadow("shadow-1");
                border: 2px solid wp-preset-color("contrast");
                padding-block: 1rem;
                margin-top: wp-preset-spacing("20");
            }

            .wp-block-navigation-item {
                background-color: initial;
            }

            .wp-block-navigation-submenu__toggle[aria-expanded="true"] ~ .wp-block-navigation__submenu-container {
                min-width: 280px;
            }

            .wp-block-navigation-submenu {
                .wp-block-navigation-item:not(:last-child) {
                    margin-bottom: 0;
                }
            }
        }
    }
}
