@use "../../abstracts" as *;

// CampTix public attendees list.
#tix-attendees .tix-attendee-list {
	display: grid;
	gap: var(--wp--preset--spacing--60) var(--wp--preset--spacing--40);
	list-style: none;
	margin-bottom: 0;
	margin-top: 0;
	max-width: 100%;
	padding: 0;
}

#tix-attendees .tix-attendee-list.tix-columns-3 {
	grid-template-columns: repeat(3, minmax(0, 1fr));
}

#tix-attendees .tix-attendee-list.tix-columns-4 {
	grid-template-columns: repeat(4, minmax(0, 1fr));
}

#tix-attendees .tix-attendee-list.tix-columns-5 {
	grid-template-columns: repeat(5, minmax(0, 1fr));
}

#tix-attendees .tix-attendee-list.tix-columns-6 {
	grid-template-columns: repeat(6, minmax(0, 1fr));
}

@include breakpoint-max("md") {

	#tix-attendees .tix-attendee-list {
		grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
	}
}

#tix-attendees .tix-attendee-list li {
	margin: 0;
	width: auto !important;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 1.2rem;
	height: auto;
	float: none;
}

#tix-attendees .avatar {
	flex-shrink: 0;
	float: none;
	width: 60px !important;
	height: 60px !important;
	border-radius: 50%;
	overflow: hidden;
}

#tix-attendees .tix-attendee-name {
	margin-left: initial !important;
	color: var(--wp--preset--color--contrast);
	font-size: var(--wp--preset--font-size--small) !important;
	font-family: var(--wp--preset--font-family--unbounded);
	font-style: normal;
	font-weight: 700;
	line-height: 1.2;
	text-align: center;
	text-transform: capitalize;
}

#tix-attendees .tix-attendee-name .tix-last {
	text-transform: uppercase;
}

#tix-attendees .tix-attendee-url {
	display: none !important;
}
